*.el
*.el~
*.eld
projectile-bookmarks.eld
*.org~
!lisp/cheat-sh.el
!snips/
elpa/
auto-save-list/
transient/
.dap-breakpoints
.cache/
eln-cache/
snips/
.lsp-session-v1
request/
racket-mode/
bookmarks
org-roam.db
.org-id-locations
straight/
*.html
